<div class="holder">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Modificar cliente</h4>
            <form action="/admin/clientes/modificar" method="post">
                <input type="hidden" name="id" value="{{cliente.idCliente}}">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Apellido y Nombre" name="nomApellido" value="{{cliente.nomApellido}}"></input>
                </div>
                <div class="mb-3 row">
                    <input type="text" class="form-control" placeholder="Numero de Cuit" name="nroCuit" value="{{cliente.nroCuit}}">
                </div>
                <div class="mb-3 row">
                    <input type="text" class="form-control" placeholder="Clave AFIP" name="claveAfip" value="{{cliente.claveAfip}}">
                </div>
                <div class="mb-3 row">
                    <input type="text" class="form-control" placeholder="Clave ARBA" name="claveArba" value="{{cliente.claveArba}}">
                </div>
                <div class="mb-3 row">
                    <input type="text" class="form-control" placeholder="Clave MUNI" name="claveMuni" value="{{cliente.claveMuni}}">
                </div>
                <div class="mb-3 row">
                    <input type="text" class="form-control" placeholder="Clave Pami" name="clavePami" value="{{cliente.clavePami}}">
                </div>
                <div class="mb-3 row">
                    <input type="email" class="form-control" placeholder="Email" name="email" value="{{cliente.email}}">
                </div>
                <div class="mb-3 row">
                    <input type="text" class="form-control" placeholder="Agremiacion" name="agremiacion" value="{{cliente.agremiacion}}">
                </div>
                <div class="mb-3 row">
                    <input type="text" class="form-control" placeholder="aaaa/mm/dd" name="fechaIngreso" value="{{cliente.fechaIngreso}}">
                </div>
                <button type="submit" class="btn btn-primary">Modificar</button>
            </form>

            {{#if error}}
                <h5 class="text-danger">{{message}}</h5>
            {{/if}}
        </div>
    </div>
</div>